@model markashleybell.com.Web.Models.ArticleDetailPageViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/Main.cshtml";
}

@section content {

    <h1>@Model.Title</h1>
    
    <p>@Model.Published.ToString("dddd, d MMMM yyyy HH:mm")</p>

    @(new HtmlString(Model.BodyHtml))
    
    @if (Model.Comments.Count > 0) {
    
        <div id="comments">
        
            <h2>Comments</h2>

            @foreach (CommentViewModel c in Model.Comments)
            {
                <h3>@(new HtmlString((c.Url == "") ? c.AuthorName : "<a href=\"" + c.Url + "\">" + c.AuthorName + "</a>")) @c.Published.ToString("dd/MM/yyyy hh:mm")</h3>
            
                @(new HtmlString(c.BodyHtml))
            
            }

        </div>
        
    }
    
    @using (Html.BeginForm("Article", "Article", FormMethod.Post, new { id = "commentform" }))
    {

        <h2>Add your comment</h2>

        <p>@Html.LabelFor(x => x.Comment.AuthorName)
        @Html.TextBoxFor(x => x.Comment.AuthorName)
        @Html.ValidationMessageFor(x => x.Comment.AuthorName)</p>

        <p>@Html.LabelFor(x => x.Comment.Email)
        @Html.TextBoxFor(x => x.Comment.Email)
        @Html.ValidationMessageFor(x => x.Comment.Email)</p>

        <p>@Html.LabelFor(x => x.Comment.Url)
        @Html.TextBoxFor(x => x.Comment.Url)</p>

        <p><label for="Comment_Body">Comment (you can format comments with <a href="http://daringfireball.net/projects/markdown/syntax" onclick="window.open(this.href); return false;">Markdown</a>)</label> 
        @Html.TextAreaFor(x => x.Comment.Body)
        @Html.ValidationMessageFor(x => x.Comment.Body)</p>
        <p></p>

        <p><label id="captcha" for="Comment_z7sfd602nlwi">If you have 2 octopi, how many tentacles will they have?</label> &nbsp;
        @Html.TextBoxFor(x => x.Comment.z7sfd602nlwi, new { size = 5 })
        @Html.ValidationMessageFor(x => x.Comment.z7sfd602nlwi, "", new { id = "z7sfd602nlwi-validationmsg" })</p>

        <div class="clr">&nbsp;</div>

        <p>@Html.HiddenFor(x => x.ArticleID)
        <input id="commentsubmit" type="submit" value="Submit Comment" /></p>

    }

    <script type="text/javascript" src="/scripts/comment.js"></script>
    <script type="text/javascript">
        $('pre>code').addClass('prettyprint');
        prettyPrint();
    </script>

}