<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

        <meta name="abstract" content="@ViewBag.MetaAbstract" />
        <meta name="description" content="@ViewBag.MetaDescription" />
        <meta name="publishdate" content="@ViewBag.MetaPublishDate" />

        <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic' rel='stylesheet' type='text/css' />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        <link href="@Url.Content("~/Content/Less/Site.less")" rel="stylesheet/less" type="text/css" />

        <script type="text/javascript" src="@Url.Content("~/Scripts/less-1.1.3.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/rainbow-custom.min.js")"></script>

        <script type="text/javascript">

            $(function () {
                Rainbow.color();
            });
            
        </script>

        @RenderSection("scripts", false)
    </head>
    <body>
        <div id="container">

            <div id="logo" class="half-width">Mark Ashley Bell, Web Designer/Developer</div>

            <div id="nav" class="half-width">
                <ul>
                    <li><a href="/">Home</a></li><li><a href="/articles">Articles</a></li>
                </ul>
            </div>

            @RenderBody()

            <footer>All content &copy; Mark Ashley Bell</footer>

        </div>
    </body>
</html>
