@using System.Configuration

<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" href="/content/img/site/favicon.ico" />

        <meta name="abstract" content="@ViewBag.MetaAbstract" />
        <meta name="description" content="@ViewBag.MetaDescription" />
        <meta name="publishdate" content="@ViewBag.MetaPublishDate" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />

        <link href='http://fonts.googleapis.com/css?family=Cabin:400,700,400italic' rel='stylesheet' type='text/css' />

        <link href="@Url.Content("~/Content/Css/Site.min.css")" rel="stylesheet" type="text/css" />

        @if(!Convert.ToBoolean(ConfigurationManager.AppSettings["DevMode"])) {

        <script type="text/javascript">
            var analytics = analytics || []; analytics.load = function (e) { var t = document.createElement("script"); t.type = "text/javascript", t.async = !0, t.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + e + "/analytics.min.js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(t, n); var r = function (e) { return function () { analytics.push([e].concat(Array.prototype.slice.call(arguments, 0))) } }, i = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "pageview", "ab", "alias"]; for (var s = 0; s < i.length; s++) analytics[i[s]] = r(i[s]) };
            analytics.load("hwdaae4qhr");
        </script>

        }

        @RenderSection("scripts", false)
    </head>
    <body>
        <div id="container">

            <div id="logo"><a href="/"><img src="/content/img/site/logo.png" alt="Mark Ashley Bell" /></a></div>

            <div id="strapline"><h1>Mark Ashley Bell, Web Designer/Developer</h1></div>

            <div id="nav">
                <ul>
                    <li><a href="/">Home</a></li><li><a href="/articles">Articles</a></li>
                </ul>
            </div>

            @RenderBody()

            <footer>All content &copy; Mark Ashley Bell</footer>

        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

        @if(Convert.ToBoolean(ConfigurationManager.AppSettings["DevMode"])) {
            
        <script type="text/javascript" src="@Url.Content("~/Scripts/twitter.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/github.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/email.js")"></script>
            
        } else {
            
        <script type="text/javascript" src="@Url.Content("~/Scripts/script.min.js")"></script>
            
        }
    </body>
</html>
