<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>@ViewBag.Title - Mark Ashley Bell, Web Designer/Developer</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta http-equiv="content-language" content="en-gb" />
        <link rel="shortcut icon" href="/content/img/site/favicon.ico" />
        <link rel="openid.server" href="http://www.myopenid.com/server" />
        <link rel="openid.delegate" href="http://markb.myopenid.com/" />
        <link rel="openid2.local_id" href="http://markb.myopenid.com" />
        <link rel="openid2.provider" href="http://www.myopenid.com/server" />
        <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=markb.myopenid.com" />
        <meta name="description" content="" />
        <link href="/content/css/screen.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/content/css/prettify.css" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/prettify/prettify.js"></script>
        @RenderSection("head", false)
    </head>
    <body>
       <div id="header">
            <p>@Html.ActionLink("Mark Ashley Bell, Web Designer/Developer", "Index", "Main")</p>
            <ul>
                <li>@Html.ActionLink("Articles", "Articles", "Admin")</li>
                <li>@Html.ActionLink("Comments", "Comments", "Admin")</li>
            </ul>
            <div class="clr">&nbsp;</div>
       </div>
        <div id="content">
    
             @RenderSection("content", true)
    
        </div>
        <div class="clr">&nbsp;</div>
    </body>
</html>

