@model markashleybell.com.Web.Models.CommentViewModel

@{
    ViewBag.Title = "Edit Comment";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@section content {

<h1>Edit Comment</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.CommentID)

        <p>
            @Html.LabelFor(model => model.AuthorName)
            @Html.EditorFor(model => model.AuthorName)
            @Html.ValidationMessageFor(model => model.AuthorName)
        </p>

        <p>
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </p>

        <p>
            @Html.LabelFor(model => model.Url)
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </p>

        <p>
            @Html.LabelFor(model => model.Body)
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </p>

        <p>
            @Html.LabelFor(model => model.Published)
            @Html.EditorFor(model => model.Published)
            @Html.ValidationMessageFor(model => model.Published)
        </p>

        <p>
            @Html.LabelFor(model => model.Updated)
            @Html.EditorFor(model => model.Updated)
            @Html.ValidationMessageFor(model => model.Updated)
        </p>

        <p>
            <input type="submit" value="Save" />
        </p>

}
@using (Html.BeginForm("DeleteComment", "Admin"))
{
         
    <p>@Html.Hidden("id", Model.CommentID) <input class="submit" type="submit" value="Delete" /></p>
         
}


<p>
    @Html.ActionLink("Back to List", "Comments")
</p>

}